<a href="https://colab.research.google.com/github/sames12421/Introduction_Python/blob/main/intropy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INTRODUCTION

**PROGRAMING**


The process of communication of computer and humans which used to solve complex problem

In 1991 Guido van Rossum

FEATURES OF PYTHON


1.   easy to implemnet
2.   plateform independent
3.   open source
4.   big libaries
5.   can be integrated


APPLICATIONS OF PYTHON



*  data science
*  machine learning
*  deep learning
*   etc

In [ ]:
5+6

11

In [ ]:
print("hello world")

hello world

In [ ]:
print(5)

5

#modules

2 types


1. built in modules (already present just to use)
2. external modules


*  easy to time save to do programming


IN MAC PIP3, IN WINDOW pip

pandas (data analysis libray)

sklearn (machine learning)

keyword-(import is used to install all the lib)

versatile programing where all company's will use

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

#print statement

print used to print the details function

In [ ]:
print("hello world")

hello world

if we do like this

In [ ]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-6-6135c6da936c>, line 1)

for integer we no need to " " this brackets within it

In [ ]:
print(10)

10

in terminal it works based on line by line so we can do it by one script file

In [ ]:
#print(print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

print("hello world ",7)

hello world  7

#comments...Escape...sequence....&....print.....statement

escape will help u to create new line \n these are escape seq charactors


comments -- can keep text within it we oftenly use ' # ' only

**ctl+->+/** used to put comments for more line present within it



**command+->+/** in mac


ESCAPE SEQUENCY :

charactor which can't be used directly by using escape seq we can do it

1.  \n -> new line
2.  \t -> tabspace


PRINT :
 The print statement is a built-in function in Python that is used to display output to the console or terminal. It is a fundamental tool for debugging, providing information to the user, and displaying the results of calculations or operations.







 Variables
In Python, a variable is a name that refers to a value stored in the computer's memory. You can think of it as a container that holds data. Variables allow you to store and manipulate information in your programs.
Creating Variables
You create a variable by assigning a value to it using the assignment operator (=). For example:

In [ ]:
name = "Alice"
age = 30
pi = 3.14159

#datatype

Data types represent the kind of values that a variable can hold. Python has several built-in data types, including:
Integers (int): Whole numbers, such as 10, -5, and 0.
Floating-point numbers (float): Numbers with decimal points, such as 3.14, -2.5, and 0.0.
Strings (str): Sequences of characters, enclosed in single or double quotes, such as "Hello", 'Python', and "123".
Booleans (bool): Represent truth values, either True or False.

In [ ]:
name = "Alice"
age = 30
print(type(name))  # Output: <class 'str'>
print(type(age))  # Output: <class 'int'>

<class 'str'>
<class 'int'>

Type Conversion
You can convert a variable from one data type to another using type conversion functions:


int(): Converts a value to an integer.


float(): Converts a value to a floating-point number.


str(): Converts a value to a string.


bool(): Converts a value to a Boolean.

#sequences data

list --


collection of different data type & also change **(mutable)**



tuple ---


also can't change **(immutable)**


**MUTABLE** (changeous)

In [ ]:
my_list = [1, 2, 3, "apple", "banana"]
print(my_list[0])  # Output: 1
print(my_list[3])  # Output: apple

1
apple

[ ] represts list

In [ ]:
my_tuple = (1, 2, 3, "apple", "banana")
print(my_tuple[0])  # Output: 1
print(my_tuple[3])  # Output: apple

1
apple

( ) tuple

**alt+click** represents multiple times curser

#TYPECAST

Typecasting, also known as type conversion, is the process of changing the data type of a variable from one type to another. For instance, you might convert an integer to a float, or a string to an integer.

**TWO TYPES OF TYPECAST**

Implicit Typecasting: This is performed automatically by Python when the data types are compatible. For instance, when adding an integer and a float, Python implicitly converts the integer to a float before performing the addition.



Explicit Typecasting: This is done manually by the programmer using built-in functions like int(), float(), str(), and bool().

In Colab, you can use the input() function to prompt the user for input. This function displays a message to the user and waits for them to type something and press Enter. The input is then stored as a string.

In [ ]:
age_str = input("Enter your age: ")
age = int(age_str)  # Typecast to integer
print("You will be", age + 1, "next year.")

Enter your age: 20
You will be 21 next year.

#MAP DATA

Map data typically involves geographical information, such as locations, routes, and boundaries. In Colab, you can utilize various libraries and tools to visualize and analyze map data.

OpenStreetMap: Folium and GeoPandas can access OpenStreetMap data to create base maps and overlays.
Shapefiles: You can load shapefiles containing geographical boundaries and other features using GeoPandas.
GeoJSON: GeoJSON is a popular format for representing geospatial data. Plotly and Folium can handle GeoJSON data.
Custom Data: You can create your own map data using Python dictionaries or lists and then visualize it using the libraries mentioned above.

**IN PYTHON EVERYTHINGS IS OBJ (DICT , LIST )--> CONDSIDER AS OBJ**

#OPERATIONS

In Python, operations are actions performed on data or variables. These actions can involve mathematical calculations, logical comparisons, or manipulations of data structures.

TYPES OF OPERATION

Arithmetic Operations: These operations involve basic mathematical calculations, such as addition, subtraction, multiplication, division, and modulo.

In [ ]:
x = 10
y = 5

# Addition
sum = x + y  # sum is 15

# Subtraction
difference = x - y  # difference is 5

# Multiplication
product = x * y  # product is 50

# Division
quotient = x / y  # quotient is 2.0

# Modulo (remainder)
remainder = x % y  # remainder is 0

print(sum)
print(difference)
print(product)
print(quotient)
print(remainder)

15
5
50
2.0
0

Comparison Operations: These operations compare two values and return a Boolean result (True or False).

In [ ]:
x = 10
y = 5

# Greater than
greater = x > y  # greater is True

# Less than
less = x < y  # less is False

# Equal to
equal = x == y  # equal is False

# Not equal to
not_equal = x != y  # not_equal is True

# Greater than or equal to
greater_equal = x >= y  # greater_equal is True

# Less than or equal to
less_equal = x <= y  # less_equal is False

print(greater)
print(less)
print(equal)
print(not_equal)
print(greater_equal)
print(less_equal)

True
False
False
True
True
False

Logical Operations: These operations combine Boolean values using and, or, and not.

In [ ]:
x = True
y = False

# and
result_and = x and y  # result_and is False

# or
result_or = x or y  # result_or is True

# not
result_not = not x  # result_not is False

print(result_and)
print(result_or)
print(result_not)

False
True
False

Bitwise Operations: These operations work on individual bits of data.

In [ ]:
x = 10  # Binary: 1010
y = 5   # Binary: 0101

# Bitwise AND
result_and = x & y  # result_and is 0 (Binary: 0000)

# Bitwise OR
result_or = x | y  # result_or is 15 (Binary: 1111)

# Bitwise XOR
result_xor = x ^ y  # result_xor is 15 (Binary: 1111)

# Bitwise NOT
result_not = ~x  # result_not is -11 (Binary: -1011)

print(result_and)
print(result_or)
print(result_xor)
print(result_not)

0
15
15
-11

Assignment Operations: These operations assign values to variables.

In [ ]:
x = 10

# Assign value
x = 5  # x is now 5

# Add and assign
x += 5  # x is now 10

# Subtract and assign
x -= 5  # x is now 5

# Multiply and assign
x *= 5  # x is now 25

# Divide and assign
x /= 5  # x is now 5.0

print(x)

5.0

#STRING

. Strings are immutable, meaning their contents cannot be changed after creation.

# Single quotes
string1 = 'Hello, world!'

# Double quotes
string2 = "This is a string."

# Triple quotes (multiline)
string3 = '''This is a
multiline string.'''

Concatenation: You can combine two or more strings using the + operator

In [ ]:
string1 = "Hello"
string2 = "world"
combined_string = string1 + " " + string2  # combined_string is "Hello world"

Repetition: You can repeat a string multiple times using the * operator.

In [ ]:
repeated_string = string1 * 3  # repeated_string is "HelloHelloHello"

Indexing: You can access individual characters of a string using their index, starting from 0 for the first character.

In [ ]:
first_char = string1[0]  # first_char is "H"
last_char = string1[-1]  # last_char is "o"

Slicing: You can extract a portion of a string using slicing.

In [ ]:
substring = string1[1:4]  # substring is "ell"

String Methods: Python provides numerous built-in methods for manipulating strings, such as lower(), upper(), strip(), split(), replace(), and many more.

In [ ]:
lowercase_string = string1.lower()  # lowercase_string is "hello"
uppercase_string = string1.upper()  # uppercase_string is "HELLO"

String Formatting

In [ ]:
# String concatenation
string1 = "Hello"
string2 = "world"
combined_string = string1 + " " + string2
print(combined_string)  # Output: Hello world

# String methods
string3 = "  This is a string.  "
stripped_string = string3.strip()
print(stripped_string)  # Output: This is a string.

Hello world
This is a string.

**STRING SLICING**

In [ ]:
text = "This is a string."

# Extract "is a"
substring = text[5:9]

# Print the substring
print(substring)  # Output: is a

is a

In [ ]:
# Extract every third character
every_third = text[::3]  # every_third is "Hl r!"

# Reverse the string
reversed_string = text[::-1]  # reversed_string is "!dlrow ,olleH"

print(every_third)
print(reversed_string)

Tss rg
.gnirts a si sihT

In [ ]:
text = "This is a string."

# Extract "is a"
substring = text[5:9]

# Print the substring
print(substring)  # Output: is a

is a

**string methods**

lower(): Converts the string to lowercase.

In [ ]:
text = "Hello, World!"
lowercase_text = text.lower()  # lowercase_text is "hello, world!"
print(lowercase_text)

hello, world!

upper(): Converts the string to uppercase.

In [ ]:
uppercase_text = text.upper()  # uppercase_text is "HELLO, WORLD!"
print(uppercase_text)

HELLO, WORLD!

strip(): Removes leading and trailing whitespace from the string

In [ ]:
text_with_spaces = "   This is a string.   "
stripped_text = text_with_spaces.strip()  # stripped_text is "This is a string."
print(stripped_text)

This is a string.

split(): Splits the string into a list of substrings based on a delimiter (default is space).

In [ ]:
text = "This is a string."
words = text.split()  # words is ["This", "is", "a", "string."]
print(words)

['This', 'is', 'a', 'string.']

replace(): Replaces occurrences of a substring with another substring.

In [ ]:
text = "Hello, world!"
new_text = text.replace("world", "Python")  # new_text is "Hello, Python!"
print(new_text)

Hello, Python!

find(): Returns the index of the first occurrence of a substring (or -1 if not found).

In [ ]:
index = text.find("world")  # index is 7
print(index)

7

startswith(): Checks if the string starts with a specific substring.

In [ ]:
starts_with_hello = text.startswith("Hello")  # starts_with_hello is True
print(starts_with_hello)

True

endswith(): Checks if the string ends with a specific substring.

In [ ]:
ends_with_world = text.endswith("world!")  # ends_with_world is True
print(ends_with_world)

True

isdigit(): Checks if all characters in the string are digits.

In [ ]:
is_digit = "12345".isdigit()  # is_digit is True
print(is_digit)

True

isalpha(): Checks if all characters in the string are alphabetic.

In [ ]:
is_alpha = "Hello".isalpha()  # is_alpha is True
print(is_alpha)

True

In [ ]:
text = "  Hello, World!  "

# Convert to lowercase
lowercase_text = text.lower()
print(lowercase_text)  # Output: "  hello, world!  "

# Remove whitespace
stripped_text = text.strip()
print(stripped_text)  # Output: "Hello, World!"

# Replace substring
new_text = text.replace("World", "Python")
print(new_text)  # Output: "  Hello, Python!  "

  hello, world!
Hello, World!
  Hello, Python!

#if-else statement

if condition:
    # Code to execute if the condition is True
else:
    # Code to execute if the condition is False

In [ ]:
age = 20

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are eligible to vote.

**HOW IT WORKS**

1. The if statement evaluates the condition.
2. If the condition is True, the code block under the if statement is executed.
3. If the condition is False, the code block under the else statement is executed.

In [ ]:
a=int(input("enter the age : "))
print("ur age is :",a)
if(a>=18):
  print("u can drive")
else:
  print("u can't drive")

enter the age : 12
ur age is : 12
u can't drive

In [ ]:
appleprice=20
buget=200
if(appleprice<=buget):
  print("yes ur applr is buy")
else:
  print("no ur applr is not buy")

yes ur applr is buy

In [ ]:
appleprice=20
buget=200
if(buget - appleprice<= 50):
  print("yes ur applr is buy")
elif(buget - appleprice>= 70):
  print("yes ur applr is buy")
else:
  print("no ur applr is not buy")

yes ur applr is buy

elif

if condition1:
    # Code to execute if condition1 is True
elif condition2:
    # Code to execute if condition1 is False and condition2 is True
elif condition3:
    # Code to execute if condition1 and condition2 are False and condition3 is True
else:
    # Code to execute if all conditions are False

In [ ]:
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print("Your grade is:", grade)

Your grade is: B

In [ ]:
num=int(input("`enter the num : "))
if(num <0 ):
  print("negative")
elif(num==0):
  print("zero")
elif(num==999):
  print("special")
else:
  print("positive")

`enter the num : 999
special

**NESTED IF STATEMENT**

A nested if statement is an if statement placed inside another if statement. This allows you to create more complex conditional logic by checking multiple conditions in a hierarchical manner.

**SYNTAX**

if condition1:
    # Code to execute if condition1 is True
    if condition2:
        # Code to execute if both condition1 and condition2 are True
    else:
        # Code to execute if condition1 is True but condition2 is False
else:
    # Code to execute if condition1 is False

**HOW DOES IT WORK**

1. The outer if statement evaluates condition1.
2. If condition1 is True, the code block inside the outer if statement is executed. This code block may contain another if statement (the nested if).
3. The nested if statement evaluates condition2.
4. If condition2 is True, the code block inside the nested if statement is executed.
5. If condition2 is False, the code block inside the nested else statement (if present) is executed.
6. If condition1 is False, the code block inside the outer else statement (if present) is executed.

In [ ]:
x = 10
y = 5

if x > 5:
    if y > 2:
        print("Both conditions are True")
    else:
        print("x is greater than 5, but y is not greater than 2")
else:
    print("x is not greater than 5")

Both conditions are True

In [ ]:
num=18
if(num<0):
  print("negative")
elif(num==0):
  print("zero")
else:
  if(num%2==0):
    print("even")
  else:
    print("odd")

even

In [ ]:
num=18
if(num<0):
  print("negative")
elif(num>0):
  if(num<=10):
    print("one digit")
  elif(num>10 and num <=20):
    print("two digit")
  else:
    print("three digit")
else:
  print("zero")

two digit

In [ ]:
time=int(input("enter the time : "))
if(time<0):
  print("invalid time")
elif(time>=0 and time>=1200):
  print("good morning")
  if(time<=1200 and time>=300):
    print("good afternoon")
  elif(time<=300 and time>=600):
    print("good evening")
  else:
    print("good night")
else:
  print("good night")

enter the time : 1253
good morning
good night

In [ ]:
import time

timestamp=time.strftime("%H:%M:%S")
print(timestamp)
timestamp=time.strftime("%H")
print(timestamp)
timestamp=time.strftime("%M")
print(timestamp)
timestamp=time.strftime("%S")
print(timestamp)

07:28:42
07
28
42

#MATCH CASE

The match-case statement is a new feature introduced in Python 3.10. It provides a way to perform pattern matching, allowing you to compare a value against multiple patterns and execute different code blocks based on the matching pattern.

**SYNTAX**

match subject:
    case pattern1:
        # Code to execute if subject matches pattern1
    case pattern2:
        # Code to execute if subject matches pattern2
    case _:
        # Code to execute if subject doesn't match any patterns

**HOW IT WORKS**

1. The match statement compares the subject value against each case pattern in order.
2. If the subject matches a pattern, the code block under that case is executed, and the remaining case blocks are skipped.
3. If the subject doesn't match any of the patterns, the code block under the wildcard case _ (if present) is executed.

In [ ]:
http_status = 404

match http_status:
    case 200:
        print("OK")
    case 400:
        print("Bad Request")
    case 404:
        print("Not Found")
    case _:
        print("Other Status Code")

Not Found

In [ ]:
x=4
match x:
  case 0:
    print("zero")
  case 4 if(x%2==0):
    print("even")
  case _ if x<10:
    print("x is < 10")
  case _:
    print(x  )

even